:root {
  --clr-green-500: hsl(158, 36%, 37%);
  --clr-green-700: hsl(158, 42%, 18%);

  --clr-black: hsl(212, 21%, 14%);
  --clr-grey: hsl(228, 12%, 48%);
  --clr-cream: hsl(30, 38%, 92%);
  --clr-White: hsl(0, 0%, 100%);

  --ff-title: 'Fraunces', serif;
  --ff-base: 'Montserrat', sans-serif;

  --fw-regular: 500;
  --fw-bold: 700;

  --fs-small: 0.875rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--clr-grey);
  background-color: var(--clr-cream);
  display: grid;
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  font-size: var(--fs-small);
  line-height: 1.5;
  min-height: 100vh;
  padding: 0.9375rem;
  place-content: center;
}

picture,
img,
svg {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4 {
  line-height: 1;
  margin-block-end: 1rem;
}

p {
  margin-block-end: 1rem;
}

.product {
  width: 100%;
  margin-inline: auto;
}

.product__content {
  background-color: var(--clr-White);
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 1.5rem;
}

.product__image {
  border-radius: 0.5rem 0.5rem 0 0;
}

.product__lead {
  color: var(--clr-grey);
  font-size: 0.8125rem;
  letter-spacing: 0.25rem;
  margin-block-end: 0.9375rem;
  text-transform: uppercase;
}

.product__title {
  color: var(--clr-black);
  font-size: 2rem;
  font-weight: var(--fw-bold);
  font-family: var(--ff-title);
}

.product__price {
  display: flex;
  align-items: center;
  margin-block-end: 0.625rem;
}

.price__discount {
  color: var(--clr-green-500);
  font-family: var(--ff-title);
  font-weight: var(--fw-bold);
  font-size: 2rem;
}

.price__original {
  color: var(--clr-grey);
  font-size: 0.875rem;
  font-weight: var(--fw-regular);
  text-decoration: line-through;
  padding: 1.25rem;
  display: flex;
  opacity: 50%;
}

.product__button {
  align-items: center;
  color: var(--clr-White);
  background-color: var(--clr-green-500);
  border: none;
  border-radius: 0.5rem;
  display: flex;
  font-weight: var(--fw-bold);
  gap: 0.9375rem;
  justify-content: center;
  padding: 0.875rem 1.875rem;
  transition: background-color 0.3s ease;
  width: 100%;
}

.product__button:hover {
  background-color: var(--clr-green-700);
}

@media (min-width: 37.5rem) {
  .product {
    display: flex;
    max-width: 37.5rem;
  }

  .product__picture {
    flex-basis: 50%;
  }

  .product__image {
    border-radius: 0.5rem 0 0 0.5rem;
  }

  .product__content {
    border-radius: 0 0.5rem 0.5rem 0;
    flex-basis: 50%;
  }
}
